---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Mats",
  country: "Sweden",
  occupation: "Frontend developer",
  hobbies: ["biking", "padel"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Vue", "Svelte"];
const happy = true;
const finished = true;
const goal = 3;
---
<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-2xl">Here are a few facts about me:</h2>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<h2 class="text-2xl">My skills are:</h2>
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>